
/*=========================================  General ====================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url("../img/bg8.gif");
 /* background-color: black;*/
 /* overflow: hidden;  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  font-family: 'Press Start 2P', cursive;
}

header {
  width:100%;
  height:75px;
  position:absolute;
  z-index:100;
  align-items: center;
  justify-content: center;
}
/*=========================================  Win section ====================================*/

article {

  width: 100%;
  height: 100%;
  position:absolute;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 3px 3px 3px rgba(40, 1, 255, 1);
  color: rgb(238, 179, 0);
  margin-bottom: 3rem;
}


.modal-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  padding: 2.4rem;
  position:flex;
  width: 90%;
  max-width: 1000px;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.button {
  color: #e92929;
  border: 2px #e92929 solid;
  background-color: goldenrod;
  border-radius: 0.25rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  width: 20rem;
  font-size: 1rem;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(40, 1, 255, 1);
}

.button:hover {
  color: goldenrod;
  border: 2px goldenrod solid;
  background-color: #e92929;
  text-shadow: 1px 1px 1px rgba(40, 1, 255, 1);
  opacity: 1;
}



.thankyou {
  font-size: 2rem;
}

/*=========================================  Game Board ====================================*/


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-board {
  height: 640px;
  width: 945px;
  display: flex;
  position: relative;
  margin: auto;
  flex-wrap: wrap;
  perspective: 1500px;
}

.board-off {
  visibility: hidden;
  opacity: 0%;
  transition: visibility 0s 2s, opacity 2s linear;
}

.card {
  height: calc(33.333% - 10px);
  width: calc(15.5% - 10px);
  margin: 8px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7);
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .3s;
}

.card:active {
  transform: scale(0.97);
  transition: transform .3s;
}

.card-face, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
  background: #f5f5f5;
  backface-visibility: hidden;
}

.card-face {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}
